body{
  margin:0;
  padding: 0;
  width:100vw;
  height:100vh;
  background-color:#FCBCB8;
  font-family: 'Noto Sans', sans-serif;
}

.content-container{
  display:flex;
  flex-direction:column;
}

/* shared beteen about and contact */
.header-container {
  width: 100vw;
  height: 8vh;
  background-color: white;
  color:#B35B5B;
  display: flex;
}

.name-company{
  font-family: 'Satisfy', cursive;
  font-size: 170%;

}

.left-header{
  display: flex;
  align-items: center;
  margin-left: 4%;
  width: 50%;
}

#company-logo {
  width:5.5%;
  margin-right: 1%;
}
.right-header{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation{
  display: flex;
  width:100%;
  justify-content: center;
  align-items: center;
}
.nav-buttons{
  font-family: 'Ubuntu Mono', monospace;
  font-size: 24px;
  margin-right:10%;
  text-transform: uppercase;
  text-decoration: none;
  color: #B35B5B;
  letter-spacing: 0.04em;
}



.company-container{
  display: flex;
  flex-direction:row;
  width:100vw;
  height: 100vh;
  margin-top: 64px;
}

.company-story{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  padding:20px;
  float: left;
  position: relative;
  transform: translateY(-10%);
}

.story-title{
  font-weight: bold;
  font-size: 45px;
  color: #323232;
}

.story-content{
  color: #323232;
  font-size: 20px;
  text-align: center;
  line-height: 45px;
}

/* .donut-image {
  position: absolute;
} */

.donut-image img{
  width: 50vw;
  height: auto;
  float: right;
}


/* specifc to contact page */

.contact-content{
  background-color: #FCBCB8;
  /* margin:0;
  padding:0; */
  width: 100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
}

.top{
  width:100vw;
  height:80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom{
  width:100vw;
  height:8vh;
}


.left-side{
  width: 60vw;
  display:flex;
  justify-content:center;
  align-items:center;
}
.right-side{
  width:40vw;
}

.order-screen {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:relative;
  /* top:-14%; */
}

.order-box{
  position: relative;
  transform: translateX(-11%);
}

.tagline{
  font-weight: bold;
  font-size: 200%;
  width: 60%;
  color: #323232;
}

 .images{
  margin-top: 48px;
} 

#img1 {
  width: 60%;
  position: relative;
  /* top: 40vh; */
  /*transform: translate(-55%, 110%);*/
}

#img2 {
  width: 75%;
  position: relative;
  /* top: -25vh;
  left: 1vw; */
  /*transform: translate(-10%,-60%);*/
  /* transform: translateX(-50%); */
}


.location{
  display:flex;
  flex-direction:row;
  justify-content:center;

}
