/* Text */
.noto {
	font-family: "Noto Sans", sans-serif;
	color: rgba(255,255,255,1);
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
}

.work-sans {
	font-family: Work Sans;
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 0.02em;
	color: #767676;
}

.nav-bar .links > a {
	font-size: 20px;
	padding: 16px;
	letter-spacing: 0.04em;
	text-decoration: none;
}

#title {
	font-family: "Lora", serif;
	color: rgba(255,255,255,1);
	font-size: 56px;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.04em;
}

#welcome {
	font-size: 20px;
	letter-spacing: 0.1em;
}

#tagline {
	font-family: Lora;
	font-style: normal;
	font-weight: normal;
	font-size: 36px;
	line-height: 46px;
	letter-spacing: 0.02em;

	color: #323232;
}

/* Containers */
body {
	margin: 0;
	background: #FFD5D2;
}

.row-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.column-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.main {
	width: 100%;
}

.main .top {
	height: 800px;
	justify-content: center;
	align-items: center;
}

.nav-bar {
	width: 100%;
	position: absolute;
	align-items: center;
	justify-content: space-between;
}

.logo-container {
	justify-content: space-between;
	align-items: center;
	width: 150px;
}

.links {
	align-items: center;
	justify-content: space-around;
	width: 500px;
}

.opacity-layer {
	height: 440px;
	width: 684px;
	background-color: rgb(107,107,107, 0.25);
	border-radius: 5%;
	z-index: -1;
	justify-content: center;
	align-items: center;
}

.opacity-layer .content {
	justify-content: space-around;
	height: 70%;
	align-items: center;
}

.main .bottom {
	width: 100%;
	height: 100%;
	margin: 64px 8px;
	justify-content: space-around;
	align-items: center;
}

.right {
	width: 360px;
	height: 250px;
	justify-content: space-around;
}
/* Positioning */

.opacity-layer > div {
	padding: 4px;
}

.button {
	border: 1px solid rgb(255,255,255, 0.9);
	border-radius: 2px;
	padding: 20px;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 0.1em;
	text-decoration: none;
}

/* Images */
#logo {
	height: 80px;
}

/* Couldn't figure out how to make this responsive */
#instore {
	z-index: -2;
	top: 0;
	left: 0;
	object-fit: cover;
	position: absolute;
	flex: 1;
	width: 100%;
	min-width: 1000px;
	border-radius: 0px 0px 8px 8px;
}
#assorted {
	width: 540px;
	border-radius: 2%;
	box-shadow: 4px 4px 10px 2px rgba(0,0,0,0.23);
}